doctype html
html

  head
    title= FoodPlan
  body
    h2 Adauga mancare
    form(method='post' action='/save')
      label Numele mancarii: <br>
      input(name='plateName')

      <br><br>
      label Ingrediente: <br>
      input(name='ing')
      <br>
      input(name='ing')
      <br>
      input(name='ing')
      <br>
      input(name='ing')
      <br>
      input(name='ing')
      <br>
      input(name='ing')
      <br>
      input(name='ing')
      <br>
      input(name='ing')
      <br>

      <br>
      input(type='submit' value='Salveza')


    h2 Mancaruri salvate
    <table>
      <tr>
        <th>Nume</td>
        <th>Ingrediente</td>
        <th>Optiuni</td>
      </tr>
      each p in plates
        - var ing = ''
        each i in p.ingredients
          - ing += i.name + ' '

        <tr>
          <td>#{p.name}</td>
          <td>#{ing}</td>
          <td>
            a(href='/delete?id=' + p._id) Sterge
          </td>
        <tr>
    </table>


    h2 Mancarea din zilele urmatoare
    - if (days.length == 0)
      p Nu s-a stabilit inca.

    - var week = ['Duminica', 'Luni', 'Marti', 'Miercuri', 'Joi', 'Vineri', 'Sambata']
    each plate in days
      - if (plate.date.getDay() == new Date().getDay())
        h4 #{week[plate.date.getDay()]}: #{plate.name}
      - else
        p #{week[plate.date.getDay()]}: #{plate.name}

    h2 Ingredientele din zilele urmatoare
    - if (ingredients.length == 0)
      p Nu s-au stabilit inca.
    each ing in ingredients
      p= ing
